<div class="row">
    <div *ngIf="mensagem" class="alert alert-warning">{{mensagem}}</div>
    <h3>Efetivar Compra</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr *ngFor="let item of data.pedido.ItensPedidos">
                <td><img src="/img/smartphone-lg-k10.jpg" width="200" height="200" /></td>
                <td>{{item.Produto.nome}}</td>
                <td>{{item.Quantidade}}</td>
                <td>{{item.Produto.preco | currency:"R$":true}}</td>
                <td>{{(item.Produto.preco * item.Quantidade) | currency:"R$":true}}</td>
            </tr>
        </thead>
    </table>
    <div class="col-xs-4 col-xs-offset-8 text-right">
        <table class="table table-condensed">
            <tr>
                <td>total</td>
                <td>{{data.pedido.total | currency:"R$":true}}</td>
            </tr>
            <tr>
                <td>Frete</td>
                <td>R$ 0.00</td>
            </tr>
        </table>
        <button class="btn btn-success" (click)="onEfetivarCompra()">Comprar</button>
        <a routerLink="" class="btn btn-info">Cancelar</a>
    </div>
</div>