/*
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

div#meu-form {
    background-color: lightgray;
}

#meu-form input[type=submit]{
    background-color:green;
}

ul.preco-produto {
    font-size:medium;
}

ul.preco-produto li {
    list-style-type:none;
}

#login{
    cursor:pointer;
}

.popup-form{
    padding: 5px;
    border: 2px #000000 inset;
    display: inline-block;
}

.popup-form input {
   width:200px;
}

.popup-form label {
    width: 150px;
    display:inline-block;
}


.popup-form input[type=checkbox], .popup-form input[type=submit] {
    width: auto;    
}

    */



